<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel='stylesheet' href='../public/stylesheets/career.css' />
</head>

<body>
    <div id="careerScreen">
  <div style="width:100%; text-align:center;"><h2>CAREER</h2></div>
  
  <!-- Heaventree -->
  <section class="career-item" id="heaventree">
    <div class="ci-left">
      <img src="https://imagedelivery.net/e0-3jqSze_fGgLHLQnpXsA/21e7a83e-56d8-449c-5ac6-9566af485d00/public" alt="starlawfirm" />
    </div>
    <div class="ci-right">
      <h3>스타법무법인</h3>
      <p>2023.02.03 ~ 2025.06.28</p>
      <a>법률회사로 법과 관련된 일을 주로하는 회사입니다.</a><br/>
      <a>자사홈페이지 업데이트 및 유지보수와 인프라 관련 보안 관리페이지 제작을 주로하였습니다.</a><br/>
      <a>기본적으로 frontend를 담당했으며 react와 nextjs,typescript,MUI를 활용하여 사이트를 만들었습니다.</a>

      <div>
        <h4>| <a>개인회생 개시결정 대시보드</a></h4>
        <p>2023.04.15 ~ 2023.12.14</p>
        <ul>
          <li>highchart.js, echart.js, MUI, typescript, react, nextjs 사용</li>
          <li>highchart.js로 geojson으로 변환하여 대한민국 시군구 지도를 활용하여 차트 제작</li>
          <li>echart는 간단한 막대그래프를 만들었고 MUI를 활용하여 데이터를 볼 수 있는 표를 작성하여 한눈에 보기 쉽게 제작</li>
          <li>기존에 엑셀로 데이터를 관리, 분석 하고 있던 영역 중 하나인 개인회생 개시결정 부분의 현황을 수집, 분석, 데이터 제공을 자동으로 진행하여 기존에 소모되던 인적 자원을 절감</li>
        </ul>
      </div>

      <div>
        <h4>| <a>광고문의 현황페이지</a></h4>
        <p>2023.12.15 ~ 2024.06.14</p>
        <ul>
          <li>echart.js, toast ui, typescript, react, nextjs, MUI를 사용</li>
          <li>echart.js로 서로 다른 유형의 차트를 작성하였고 실시간 반영이 되도록 작업</li>
          <li>MUI로 표를 만들어 값을 바로 볼 수 있도록 작업</li>
          <li>MUI date를 활용하여 날짜 범위 설정 할 수 있는 모달창 작업</li>
          <li>기존에 엑셀로 데이터를 관리, 분석 하고 있던 영역 중 하나인 개인회생 개시결정 부분의 현황을 수집, 분석, 데이터 제공을 자동으로 진행하여 기존에 소모되던 인적 자원을 절감</li>
        </ul>
      </div>
      
      <div>
        <h4>| <a>문의유입 총괄페이지</a></h4>
        <p>2024.06.15 ~ 2024.12.02</p>
        <ul>
          <li>excel.js, MUI, typescript, react, nextjs 사용</li>
          <li>기존에 엑셀로 데이터를 관리, 분석 하고 있던 영역 중 하나인 문의유입 현황을 수집, 분석, 데이터 제공을 자동으로 진행하여 기존에 소모되던 인적 자원을 절감</li>
        </ul>
      </div>

      <div>
        <h4>| <a>컨텐츠 관리자 페이지 제작</a></h4>
        <p>2024.11.15 ~ 2024.12.11</p>
        <ul>
          <li>editor.js, MUI, typescript, react, nextjs 사용</li>
          <li>기존에 이미지를 올리거나 글자크기등 손쉽게 작성이 안되어 일일이 정의해야되고 또한 원하는 게시글을 지우거나 다시 나타내야되는 가능성이 있지만 해당 기능이 없어서 지우고 다시 작성해야되는 번거로움을 줄여 작업 시간을 단축</li>
        </ul>
      </div>

      <div>
        <h4>| <a>관리자 사이트 개발</a></h4>
        <p>2024.11.04 ~ 2024.11.18</p>
        <ul>
          <li>V0, MUI, typescript, react, nextjs 사용</li>
          <li>각 사용자마다의 프로필과 간단한 구문을 저장하게 만들어 해당 프로필을 관리하며 카테고리와 컨텐츠를 관리할 수 있도록 제작</li>
        </ul>
      </div>
      
      <div>
        <h4>| <a>레이아웃 유지보수</a></h4>
        <p>2024.11.15 ~ 2024.12.11</p>
        <ul>
          <li>MUI, typescript, react, nextjs 사용</li>
          <li>홈페이지 레이아웃 유지보수를 통해 기존과 달라진 부분 및 기존 php구문에서 최신 react구문으로 프론트 변경</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Heaventree -->
  <section class="career-item" id="heaventree">
    <div class="ci-left">
      <img src="../public/images/heaventree.png" alt="heaventree" />
    </div>
    <div class="ci-right">
      <h3>(주)Heaventree</h3>
      <p>2022.08.16 ~ 2022.11.16</p>
      <a>고객들의 프로젝트 스케줄 관리 플랫폼 개발 회사입니다.</a><br/>
      <a>기본적으로 frontend를 담당했으며 mongoDB를 활용하여 restAPI를 일부 사용하였습니다.</a>

      <div>
        <h4>| <a>물자관리시스템 웹개발</a></h4>
        <p>2022.08.22 ~ 2022.09.30</p>
        <ul>
          <li>ejs, node.js, MongoDB 사용</li>
          <li>MongoDB API로 모델 작성 및 REST API 작성</li>
        </ul>
      </div>

      <div>
        <h4>| <a>스케줄관리 웹개발</a></h4>
        <p>2022.10.04 ~ 2022.11.16</p>
        <ul>
          <li>ejs, node.js, MongoDB 사용</li>
          <li>사용자별 지정 색상 저장(Frontend 중심)</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- 한중엔시에스 -->
  <section class="career-item" id="hanjung">
    <div class="ci-left">
      <img src="../public/images/hanjung.png" alt="hanjung ncs" />
    </div>
    <div class="ci-right">
      <h3>(주)한중엔시에스</h3>
      <p>2021.09.27 ~ 2022.08.16</p>
      <a>차량 부품을 제조하는 회사 입니다.</a>
      <div>
        <h4>| <a>CUBEGEN 개발(휴대용 배터리)</a></h4>
        <ul>
          <li>C, C++로 휴대용 배터리 개발</li>
          <li>주 업무: C/C++ 업데이트 및 하드웨어 납땜</li>
          <li>MCU/CPU 역할 및 주변 회로 이해</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Hustar -->
  <section class="career-item" id="hustar">
    <div class="ci-left">
      <img src="../public/images/hustar.png" alt="hustar" />
    </div>
    <div class="ci-right">
      <h3>Hustar</h3>
      <p>2021.03.01 ~ 2021.08.11</p>
      <a>대구경북 지자체 프로그래머 양성 프로젝트</a>

      <div>
        <h4>| <a>패션의 완성은 날씨다</a></h4>
        <p>2021.06.01 ~ 2021.06.13</p>
        <ul>
          <li>OpenCV, 날씨 API, HTML, jQuery, CSS, Teachable Machine</li>
          <li>웹캠 촬영·저장, 옷/날씨 매칭 로직 작성</li>
          <li>날씨 정보 실시간 업데이트 및 코멘트 자동화</li>
        </ul>
      </div>

      <div>
        <h4>| <a>Travel Record</a></h4>
        <p>2021.06.19 ~ 2021.06.31</p>
        <ul>
          <li>HTTP, JavaScript, CSS, jQuery, Node.js</li>
          <li>CSS 애니메이션 기반 동적 화면 제작</li>
          <li>국가/시간별 사진 배치 및 갤러리 UX 설계</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- 재원 -->
  <section class="career-item" id="jaewon">
    <div class="ci-left">
      <img src="../public/images/jaewon.png" alt="jaewon" />
    </div>
    <div class="ci-right">
      <h3>(주)재원</h3>
      <p>2019.10 ~ 20.7</p>
      <a>마이크로미터 단위 섬세한 위치 조정 가능한 액추에이터 제조 업체</a>
      <div>
        <h4>| <a>Micro Parts Assembly Module Project</a></h4>
        <p>20.4 ~ 20.7</p>
        <ul>
          <li>C++, C# 기반 Windows 앱 개발</li>
          <li>부품 위치 정렬/조립 자동화(µm 단위 제어)</li>
        </ul>
      </div>
    </div>
  </section>
</div>

</body>

</html>