<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>

    <link rel="stylesheets" href="../public/stylesheets/index.css">
</head>
<body>
    <header id="header">
        <div id="name">oo님 환영합니다.</div>
        <div id="login">로그인</div>
    </header>
    <div>
        <div>
            <a>자유게시판</a>
            <a>공지사항</a>
            <a>기타</a>
        </div>
        <table>
            <th>
                <tr>번호</tr>
                <tr>제목</tr>
                <tr>유형</tr>
                <tr>첨부파일</tr>
                <tr>날짜</tr>
            </th>
            <tb>
                <tr>
                    <td>01</td>
                    <td>slrk</td>
                    <td>slrk</td>
                    <td>slrk</td>
                    <td>slrk</td>
                </tr>
            </tb>
        </table>
    </div>
</body>
</html>