<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./stylesheets/index.css" type="text/css"/>
</head>
<body>
    <div id = "title">My Hobby Boarder</div>
    <div id = "boardList">
        <a id = "free">자유게시판</a>
        <a id = "share">공지사항</a>
        <a id = "onerande">원랜디</a>
        <a id = "qna">Q&A</a>
    </div>
 
    <div class="list">
        <div id="command" class="command">
            <p>번호</p>
            <p>이름</p>
            <p>제목</p>
            <p>날짜</p>
        </div>
    </div>
    <div id="demo"></div>

    <script src="../javascripts/index.js"></script>
</body>
</html>